@page "/search-employee"
@implements IDisposable
@using SkillsDatabase
@using SkillsBackend.Client
@using Microsoft.EntityFrameworkCore
@inject NavigationManager nav
<h3>Mitarbeiter suchen</h3>

<p>
    Name:
</p>

<input type="text" name="searchbyname" @bind="SearchQuery" @bind:event="oninput" @onkeyup="InputChanged"/>

<div>
    <table>
        
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geburtsdatum</th>
                <th/>
            </tr>
        </thead>
        <tbody>
        @foreach(var e in searchResult)
        {
            <tr>
                <td>
                    @e.FirstName
                </td>
                <td>
                    @e.LastName
                </td>
                <td>
                        @e.Birthday.ToShortDateString()
                </td>
                <td>
                    <button type="button" @onclick="() => EditClick(e)">
                            <img src="./Images/Icons/edit.png"> @*<a target="_blank" href="https://icons8.com/icon/102550/edit">Edit</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
                    </button> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



@code {
    string searchQuery = String.Empty;

    string SearchQuery 
    {
        get => searchQuery;
        set
        {
            searchQuery = value;
            Task.Run(InputChanged);
            StateHasChanged();

        } 
    }
    List<Employee> searchResult = new List<Employee>();
    SkillsDbContext context = Program.dbContextFactory.CreateDbContext();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //searchResult = context.VisibleEmployees.ToList();
        searchResult = await Program.client.GetEmployeesAsync();
        searchResult.Sort((emp1, emp2) => String.Compare(emp1.FirstName, emp2.FirstName));
    }

    private async Task InputChanged()
    {
        if (SearchQuery is null || String.Empty == SearchQuery)
        {
            searchResult = await Program.client.GetEmployeesAsync();
            searchResult.Sort((emp1, emp2) => String.Compare(emp1.FirstName, emp2.FirstName));
            return;
        }
        //searchResult = context.VisibleEmployees.Where(emp => emp.FirstName.StartsWith(searchQuery) || emp.LastName.StartsWith(searchQuery)).ToList();
        searchResult = await Program.client.GetEmployeeAsync(SearchQuery);
        searchResult.Sort((emp1, emp2) => String.Compare(emp1.FirstName, emp2.FirstName));
    }

    private int id;

    private void EditClick(Employee emp)
    {
        id = emp.Id;
        nav.NavigateTo("/edit-employee/"+id);
    }

    public void Dispose()
    {
        context.Dispose();
    }
}
