@page "/search-employee"
@using SkillsDatabase
@using Microsoft.EntityFrameworkCore
@inject NavigationManager nav
<h3>Mitarbeiter suchen</h3>

<p>
    Name:
</p>

<input type="text" name="searchbyname" @bind-value="searchQuery" @oninput="InputChanged"/>

<div>
    <table>
        
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geburtsdatum</th>
                <th/>
            </tr>
        </thead>
        <tbody>
        @foreach(var e in SearchResult)
        {
            <tr>
                <td>
                    @e.FirstName
                </td>
                <td>
                    @e.LastName
                </td>
                <td>
                    @e.Birthday
                </td>
                <td>
                    <button type="button" @onclick="() => EditClick(e)">
                            <img src="../Images/Icons/edit.png"> @*<a target="_blank" href="https://icons8.com/icon/102550/edit">Edit</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
                    </button> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



@code {
    string searchQuery = string.Empty;
    List<Employee> SearchResult = new List<Employee>();
    SkillsDbContext context = Program.dbContextFactory.CreateDbContext();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SearchResult = context.VisibleEmployees.ToList();

    }

    private void InputChanged()
    {
        SearchResult = context.VisibleEmployees.Where(emp => emp.FirstName.StartsWith(searchQuery) || emp.LastName.StartsWith(searchQuery)).ToList();
    }

    private int id;

    private void EditClick(Employee emp)
    {
        id = emp.Id;
        nav.NavigateTo("/edit-employee/"+id);
    }

}
