@using SkillsDatabase

<table>
    <thead>
        <tr>
            <th>Kenntnis</th>
            <th>Stufe</th>
        </tr>
    </thead>
    <tbody>
        @{
            sli = StatischeKlasse.skillLevelInputList;
        }
        @for (int i = 0; i < NumberOfSkills; i++)
        {
            StatischeKlasse.i = i;
            <tr>
                <td>
                    
                    <br/>


                    <input type="text" @bind-value="SkillName" />
                     
                </td>
                <td>
                    <InputSelect @bind-Value="SkillLevel">
                        @foreach (var l in Enum.GetValues<ProficiencyLevel>())
                        {
                            <option value="@l">@l</option>
                        }
                    </InputSelect>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int NumberOfSkills { get; set; }

    private Tuple<List<string>, List<ProficiencyLevel>> sli = StatischeKlasse.skillLevelInputList;

    private string SkillName { get { return StatischeKlasse.skillLevelInputList.Item1[StatischeKlasse.i]; } set { StatischeKlasse.skillLevelInputList.Item1[StatischeKlasse.i] = value; } }
    private ProficiencyLevel SkillLevel { get { return StatischeKlasse.skillLevelInputList.Item2[StatischeKlasse.i]; } set { StatischeKlasse.skillLevelInputList.Item2[StatischeKlasse.i] = value; } }
}
