@using SkillsDatabase

<table>
    <thead>
        <tr>
            <th>Kenntnis</th>
            <th>Stufe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proficiencyDTO in proficienciesDTO)
        {
            <tr>
                <td>
                    
                    <br/>


                    <input type="text" @bind-value="proficiencyDTO.SkillName" />
                     
                </td>
                <td>
                    <InputSelect @bind-Value="proficiencyDTO.SkillLevel">
                        @foreach (var l in Enum.GetValues<ProficiencyLevel>())
                        {
                            <option value="@l">@l</option>
                        }
                    </InputSelect>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    #pragma warning disable CS8618 // Non-nullable field must contain a non-null value when exiting constructor.
    [Parameter]
    public List<ProficiencyBaseDTO> proficienciesDTO { get; set; }
#pragma warning restore CS8618 // Non-nullable field must contain a non-null value when exiting constructor.

    
}
